// BASE STYLES

@use "variables" as *;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // 10px / 16px = 0.625 = 62.5%
  // Percentage of user's browser font-size setting
  font-size: 62.5%;
  overflow-x: hidden;

  // Can work on Safari but it isn't smooth as Chrome
  // scroll-behavior: smooth;
  
  @include respond(xl) {
    font-size: 56.25%;
  }
  
  @include respond(lg) {
    font-size: 50%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  line-height: $line-height-1;
  font-weight: $font-weight-regular;
  color: $grey-4;

  // Only works if there is nothing absolutely positioned in relation to body
  overflow-x: hidden;
}

// FOCUS STYLES
*:focus {
  @include focus-style;
}

// HELPER/UTILITY CLASSES
.margin-right-sm {
  margin-right: $spacing-5 !important;
}

.margin-bottom-md {
  margin-bottom: $spacing-8 !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: $font-weight-medium;
}